<!-- @format -->

<mat-card class="test" [style.margin]="'16px auto'" [style.height.px]="800">
  <mat-card-header>
    <mat-card-title>Datatable</mat-card-title>
  </mat-card-header>
  <mat-card-content [style.position]="'relative'" [style.overflow]="'hidden'">
    <ngx-mat-mongoose-datatable [style.height.%]="100" [style.width.%]="100" [options]="datatableOptions">
      <ng-template ngxMatDatatableCell="description" let-value="value">
        <div>
          <div>Desc.</div>
          <div [style.height.px]="50">{{ value }}</div>
        </div>
      </ng-template>
    </ngx-mat-mongoose-datatable>
  </mat-card-content>
</mat-card>

<mat-card [style.margin]="'16px auto'" [style.height.px]="800">
  <mat-card-header>
    <mat-card-title>Table</mat-card-title>
  </mat-card-header>
  <mat-card-content [style.position]="'relative'" [style.overflow]="'hidden'">
    <app-table></app-table>
  </mat-card-content>
</mat-card>
