<!-- @format -->

<mat-card class="test" [style.margin]="'16px auto'" [style.height.px]="800">
  <mat-card-header>
    <mat-card-title>Datatable</mat-card-title>
  </mat-card-header>
  <mat-card-content [style.position]="'relative'" [style.overflow]="'hidden'">
    <ngx-mat-datatable [style.height.%]="100" [style.width.%]="100" [options]="datatableOptions">
      <ng-template ngxMatDatatableContent="description" let-value="value">
        <div>
          <div>Desc.</div>
          <div [style.height.px]="50">{{ value }}</div>
        </div>
      </ng-template>
      <ng-template ngxMatDatatableContent="suffix" let-value="value"> &nbsp;Suffix {{ value }} </ng-template>
    </ngx-mat-datatable>
  </mat-card-content>
</mat-card>

<mat-card [style.margin]="'16px auto'" [style.height.px]="800">
  <mat-card-header>
    <mat-card-title>Table</mat-card-title>
  </mat-card-header>
  <mat-card-content [style.position]="'relative'" [style.overflow]="'hidden'">
    <app-table></app-table>
  </mat-card-content>
</mat-card>
